@media (min-width: 1340px) {
  .container{
    max-width: 1300px;
  }
}
*{
  font-family: 'Manrope';
  font-style: normal;
  font-weight: normal;
}

img{
  max-width: 100%;
}
.page{
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
}
.slick-initialized .slick-slide{
  outline: none!important;
}
.slick-navs{
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #EEEEEE;
  margin-top: 24px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.slick-counter{
  margin-right: 74px;
}
.slick-progress{
  width: 100%;
  height: 1px;
  background: rgba(251, 251, 251, .5);
  margin-top: 26px;
}
.slick-progress-line{
  height: 1.5px;
  position: relative;
  top: -1px;
  background: #3AD1A9;
  width: 0px;
  transition: .5s;
  margin: 0px;
  border-radius: 5px;
}
.slide-title{
  font-weight: 300;
  font-size: 34px;
  line-height: 46px;
  display: flex;
  align-items: center;
  color: #EEEEEE;
  padding-left: 10px;
  border-left: 1px solid #3AD1A9;
  margin-bottom: 34px;
  position: relative;
}


header{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 30px 0px;
  transition: .5s;
  z-index: 10;
}
header.scrolled{
  background: rgba(38, 38, 38, 0.6);
  padding: 10px 0px;
}
header>div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

nav ul a{
  font-size: 16px;
  line-height: 22px;
  color: #EEEEEE;
  padding:7px 25px;
  border-top: 1px solid #EEEEEE;
  transition: .25s ease-in-out;
  -webkit-text-shadow: 0 30px 0 transparent;
  -moz-text-shadow: 0 30px 0 transparent;
  -ms-text-shadow: 0 30px 0 transparent;
  -o-text-shadow: 0 30px 0 transparent;
  text-shadow: 0 30px 0 transparent;
  text-decoration: none!important;
}
nav ul a:hover{
  color: transparent;
  -webkit-text-shadow: 0 0 0 #3ad1a9;
  -moz-text-shadow: 0 0 0 #3ad1a9;
  -ms-text-shadow: 0 0 0 #3ad1a9;
  -o-text-shadow: 0 0 0 #3ad1a9;
  text-shadow: 0 0 0 #3ad1a9;
  border-top: 1px solid #3ad1a9;
}
nav ul li:first-of-type a{
  padding-left: 0px;
}
nav ul li:last-of-type a{
  padding-right: 0px;
}

a.button{
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  display: inline-flex;
  align-items: center;
  color: #0F0F0F;
  transition: .25s ease-in-out;
  -webkit-text-shadow: 0 30px 0 transparent;
  -moz-text-shadow: 0 30px 0 transparent;
  -ms-text-shadow: 0 30px 0 transparent;
  -o-text-shadow: 0 30px 0 transparent;
  text-shadow: 0 30px 0 transparent;
  text-decoration: none!important;
}
a.button:hover{
  color: transparent!important;
  -webkit-text-shadow: 0 0 0 #3ad1a9;
  -moz-text-shadow: 0 0 0 #3ad1a9;
  -ms-text-shadow: 0 0 0 #3ad1a9;
  -o-text-shadow: 0 0 0 #3ad1a9;
  text-shadow: 0 0 0 #3ad1a9;
}
a.button.white{
  color: #FBFBFB;
}
a.button img{
  margin-left: 9px;
  max-width: 44px;
}
.grey-blured{
  position: relative;
  padding: 95px 55px;
  padding-left: 0px;
  width: 100%;
  z-index: 2;
}
.grey-blured::before{
  content: '';
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 100vw;
  background: rgba(238, 238, 238, 0.2);
  z-index: -1;
}
.page-tite{
  color: #3AD1A9;
  font-size: 18px;
  line-height: 19px;
  display: block;
  padding-left: 6px;
  border-left: 1px solid #3AD1A9;
}
.title{
  font-weight: 300;
  font-size: 54px;
  line-height: 74px;
  color: #0F0F0F;
  margin: 24px 0px 37px;
}
p{
  font-size: 16px;
  line-height: 150%;
  color: #0F0F0F;
  margin: 34px 0px;
}

footer{
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0px;
}
footer p{
  font-size: 16px;
  line-height: 22px;
  color: #EEEEEE;
}

.upbutton:any-link{
  border: 1px solid #939393;
  display: flex;
  width: 74px;
  height: 74px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  font-size: 16px;
  line-height: 150%;
  color: #939393;
  text-decoration: none!important;
}
